{# templates/base.html.twig #}
<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}ShopGrids{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/favicon.svg') }}" />

    {# Fonctions Twig pour importer les assets compilés par Encore #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}

</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    {# On inclut le header dans un fichier séparé pour la clarté #}
    {% include 'partials/_header.html.twig' %}

    {# Le bloc principal qui sera remplacé par chaque page enfant #}
    {% block body %}{% endblock %}

    {# On inclut le footer dans un fichier séparé #}
    {% include 'partials/_footer.html.twig' %}

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    {# Fonctions Twig pour importer le JS compilé #}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {# Scripts spécifiques à une page si nécessaire #}
    {% block specific_javascripts %}{% endblock %}
</body>

</html>
